# 定義 CI/CD 階段
stages:
  - dev-k8s-build
  - dev-k8s-check
  - dev-k8s-checkdependency
  - dev-k8s-deploy
  - dev-k8s-test
  - tag-build
  - tag-deploy
  - tag-test

# 全局變量
variables:
  TAG: ""

# Dev 環境任務（保持原樣）
dev-k8s-build:
  stage: dev-k8s-build
  tags:
    - ws-dev-k8s-runner
  rules:
    - if: $CI_MERGE_REQUEST_LABELS == 'ws-k8s-dev' && $CI_PIPELINE_SOURCE == 'merge_request_event'
  script:
    - version=$(date +'%Y-%m-%d-%H-%M')
    - echo $version
    - echo "VERSION=$version" > build.env
    - cd ./ws-dev-k8s spring
    - bash build.sh ws-k8s-dev $version
    - echo "k8s-dev build"
  artifacts:
    paths:
      - ./**/target/classes
    reports:
      dotenv: build.env
    expire_in: 1 week

dev-k8s-check:
  stage: dev-k8s-check
  tags:
    - ws-sonar-qube-runner
  rules:
    - if: $CI_MERGE_REQUEST_LABELS == 'ws-k8s-dev' && $CI_PIPELINE_SOURCE == 'merge_request_event'
  image: 
    name: sonarsource/sonar-scanner-cli:5.0
    entrypoint: [""]
  variables:
    GIT_DEPTH: 0
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script: 
    - sonar-scanner
  allow_failure: true
  needs:
    - dev-k8s-build

dev-k8s-checkdependency:
  stage: dev-k8s-checkdependency
  tags:
    - ws-sonar-qube-runner
  rules:
    - if: $CI_MERGE_REQUEST_LABELS == 'ws-k8s-dev' && $CI_PIPELINE_SOURCE == 'merge_request_event'
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    - trivy fs --scanners vuln --exit-code 0 --severity CRITICAL,HIGH . --format json --output trivy-report.json
  allow_failure: true
  artifacts:
    paths:
      - trivy-report.json
  needs:
    - dev-k8s-build
    - dev-k8s-check

dev-k8s-deploy:
  stage: dev-k8s-deploy
  tags:
    - ws-dev-k8s-runner
  rules:
    - if: $CI_MERGE_REQUEST_LABELS == 'ws-k8s-dev' && $CI_PIPELINE_SOURCE == 'merge_request_event'
  script:
    - echo "VERSION:" $VERSION
    - cd ./ws-dev-k8s spring
    - bash deploy.sh dev-k8s $VERSION
    - echo "k8s-dev deploy"
  needs:
    - dev-k8s-build
    - dev-k8s-check

dev-k8s-test:
  stage: dev-k8s-test
  tags:
    - ws-dev-k8s-runner
  rules:
    - if: $CI_MERGE_REQUEST_LABELS == 'ws-k8s-dev' && $CI_PIPELINE_SOURCE == 'merge_request_event'
  script:
    - echo "VERSION:" $VERSION
    - cd ./ws-dev-k8s spring
    - bash ../spring/unit-test.sh dev-k8s $VERSION
    - echo "dev testing"
  needs:
    - dev-k8s-build
    - dev-k8s-deploy

# 模板定義：用於減少重複代碼
.tag-build-template:
  stage: tag-build
  tags:
    - aws-cloud-eks-mix-runner
  script:
    - echo "CI_COMMIT_TAG=$CI_COMMIT_TAG"
    - echo "CI_COMMIT_TAG_ENV=$CI_COMMIT_TAG_ENV"
    - echo "CI_MOD=$CI_MOD"
    - cd ./$CI_COMMIT_TAG_ENV spring
    - bash ../spring/build.sh $ENV_NAME $CI_COMMIT_TAG
    - echo "build $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"

.tag-deploy-template:
  stage: tag-deploy
  tags:
    - aws-cloud-eks-mix-runner
  script:
    - echo "CI_COMMIT_TAG=$CI_COMMIT_TAG"
    - echo "CI_COMMIT_TAG_ENV=$CI_COMMIT_TAG_ENV"
    - cd ./$CI_COMMIT_TAG_ENV spring
    - bash ../spring/deploy.sh $ENV_NAME $CI_COMMIT_TAG
    - echo "deploy $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"

.tag-test-template:
  stage: tag-test
  tags:
    - aws-cloud-eks-mix-runner
  script:
    - echo "CI_COMMIT_TAG=$CI_COMMIT_TAG"
    - echo "CI_COMMIT_TAG_ENV=$CI_COMMIT_TAG_ENV"
    - cd ./$CI_COMMIT_TAG_ENV spring
    - bash ../spring/unit-test.sh $ENV_NAME $CI_COMMIT_TAG
    - echo "test $CI_PROJECT_NAME $CI_COMMIT_TAG_ENV $CI_COMMIT_TAG Succeed"

# 環境特定的任務
tag-build-aws-eks-mix-demo:
  extends: .tag-build-template
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-demo'
  variables:
    ENV_NAME: demo-eks

tag-deploy-aws-eks-mix-demo:
  extends: .tag-deploy-template
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-demo'
  needs:
    - tag-build-aws-eks-mix-demo
  variables:
    ENV_NAME: demo-eks

tag-test-aws-eks-mix-demo:
  extends: .tag-test-template
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-demo'
  needs:
    - tag-deploy-aws-eks-mix-demo
  variables:
    ENV_NAME: demo-eks

tag-build-aws-eks-mix-sit:
  extends: .tag-build-template
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-sit'
  variables:
    ENV_NAME: sit-eks

tag-deploy-aws-eks-mix-sit:
  extends: .tag-deploy-template
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-sit'
  needs:
    - tag-build-aws-eks-mix-sit
  variables:
    ENV_NAME: sit-eks

tag-test-aws-eks-mix-sit:
  extends: .tag-test-template
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-sit'
  needs:
    - tag-deploy-aws-eks-mix-sit
  variables:
    ENV_NAME: sit-eks

tag-build-aws-eks-mix-uat:
  extends: .tag-build-template
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-uat'
  variables:
    ENV_NAME: uat-eks

tag-deploy-aws-eks-mix-uat:
  extends: .tag-deploy-template
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-uat' && $CI_MOD != 'build_only'
  needs:
    - tag-build-aws-eks-mix-uat
  variables:
    ENV_NAME: uat-eks

tag-test-aws-eks-mix-uat:
  extends: .tag-test-template
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-mix-uat' && $CI_MOD != 'build_only'
  needs:
    - tag-deploy-aws-eks-mix-uat
  variables:
    ENV_NAME: uat-eks

tag-build-aws-eks-prd:
  extends: .tag-build-template
  stage: tag-build
  tags:
    - aws-cloud-eks-prd-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-prd'
  variables:
    ENV_NAME: prd-eks

tag-deploy-aws-eks-prd:
  extends: .tag-deploy-template
  stage: tag-deploy
  tags:
    - aws-cloud-eks-prd-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-prd' && $CI_MOD != 'build_only'
  needs:
    - tag-build-aws-eks-prd
  variables:
    ENV_NAME: prd-eks

tag-test-aws-eks-prd:
  extends: .tag-test-template
  stage: tag-test
  tags:
    - aws-cloud-eks-prd-runner
  rules:
    - if: $CI_COMMIT_TAG_ENV == 'aws-eks-prd' && $CI_MOD != 'build_only'
  needs:
    - tag-deploy-aws-eks-prd
  variables:
    ENV_NAME: prd-eks